.languageSwitch{
    //border: 2px solid red;
    //border:2px solid red;
    position: absolute;
    top: calc(0% + 15px);
    right: calc(0% + 50px);
    //transform: translateX(50%); 
    margin-right: 10%;
    z-index: 1;
}