/* Kenan Babačić - SmartLab.ba */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&subset=latin-ext');

@font-face {
  font-family: 'KuranKerimFontHamdullah';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/KuranKerimFontHamdullah.ttf');
  /* IE9 Compat Modes */
}


*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: Palatino, "Palatino Linotype";
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center center;
  height: 100vh;
}

.underLine {
  font-family: 'KuranKerimFontHamdullah', serif;
}

span.ne-svira {
  color: inherit;
}

.oznaceno {
  color: red;
}

span.svira {
  font-family: 'KuranKerimFontHamdullah', serif;
  /* display: inline-block; */
  /* border: 1px solid #ddd; */
  /* padding: 0 .25em; */
  /* border-radius: .15em; */
  /* padding-top: .35em; */
  /* margin-left: .5rem; */
  color: green;
  font-weight: bold;

  .oznaceno {
    /* color: green; */
  }
}

.bosanski {
  font-size: 1.8rem;
  padding: 0 .25rem;
}
span{
  font-size: 1.5rem;
}

span.tacka {
  padding-left: 0.3em;
  padding-right: 0.3em
}

span.after {
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-size: 2em;
  font-family: KuranKerimFontHamdullah;
}

span.arapski {
  font-family: 'KuranKerimFontHamdullah', serif;
  //padding: 0 .25em;
  border-radius: .15em;
  line-height: 3.7rem;
  font-size: 27px;	  font-size: 2rem;
  margin-right: 0.5rem;
}

span.arapski-lekcija {
  font-family: 'KuranKerimFontHamdullah', serif;
  //padding: 0 .25em;
  border-radius: .15em;
  font-size: 2rem;
}

.text-center.col>span {
  display: inline-block;
}

span.arap-red {
  font-family: 'KuranKerimFontHamdullah', serif;
  color: red;
}

.opisLekcije {
  padding: .8rem;
  padding-left: 4em;
  padding-right: 4em;
  font-size: 1.5rem;
}

.lekcije-wrapper {
  border: 20px solid;
  border-image-slice: 24 33 25 34;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: repeat repeat;
  border-image-source: url("https://i.imgur.com/t6U68wJ.jpg");
  padding: .5em 1em;
  position: relative;
}

footer.mainfooter {
  padding-top: 3.5em;
  border-top: 1px solid #ddd;
  margin-top: .5em;
}

.homearea {
  font-size: initial;

  a:hover {
    text-decoration: none;
  }

}

.card-body {
  &:hover {
    background: #f6f6f6;
  }
}
.container{
  margin-top: 50px;
  box-shadow: 0px 4px 7px 0px rgba(214,214,214,1);
  padding: 30px !important;
  background-color: white !important;
  font-family: Palatino, "Palatino Linotype" !important;
}
.card-title {
    color: #AB752F !important;
  
}
.card{
    border: unset !important;
    height: 100% !important;
    border-bottom: 1px solid beige !important;
}
#rijeciAudio {
  cursor: pointer;
}

span.imelekcije {
  float: left;
    font-size: 27px;
    font-weight: 400;
    color: #AB752F;
    display: inline-block;
    width: 2em;
    padding-right: 1rem;
    margin-right: 1em;
}

/* MENI */
nav.mainmenu {
  margin-bottom: 1em;
}

ul.mainmenulist {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin-left: -1em;
  margin-right: -1em;
  margin-top: -0.5em;
  margin-bottom: 0;

  li {
    background: green;
    color: white;
    padding: .25em 0;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      border-right: 1px solid white;
    }

    &:hover {
      background: #3CA84B;
    }
  }
}

.table {
  td {
    vertical-align: middle;
  }
}

ul.bottomMenu {
  list-style-type: none;
  padding: 0;
  background: #f2f2f2;

  li {
    padding: 0.25em;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      border-right: 1px solid white;
      border-bottom: 1px solid white;
    }
  }

  a.menulink {
    color: #666;
  }
}

.bottomMenuMain {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: absolute;
  width: 100%;
  z-index: 1;
  margin-left: -1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
/*FRONT PAGE*/
.wrapper{
  width: 100%;
}
/*TOP NAV*/
.topNav{
  width: 100%;
  height: 123px;
}
.pristupiBtn{
  position: relative;
    float: right;
    top: -51px;
    width: 103px;
    height: 30px;
    background-color: white;
    border: 2px slolid #AB752F;
    border-radius: 40px;
    border: 2px solid #AB752F;
    margin-top: 10px;
    margin-left: 10px;
}
.height50px{
  height: 50px;
}
h3{
  font-size: 17px;
}
.sectonRight{
  float: right;
  width: 44%;
}
.modal-dialog{
  width: 95vw !important;
  max-width: unset !important;
}
.custom-modal{
  zoom: 140%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .opisLekcije{
    font-size: unset !important;
  }
  .card-body{
    padding-left: unset !important;
    padding-right: unset !important;
  }
  .container{
    width: 90% !important;
    padding: 0px !important;
    margin-bottom: 90px;
  }
  span.imelekcije{
    font-size: 38px !important;
    margin-right: unset !important;
    margin-left: unset !important;
  }
  .pristupiBtn{
    position: unset;
    right: 45px;
    top: 45px;
    width: 95px;
    height: 30px;
    background-color: white;
    border: 2px slolid #AB752F;
    border-radius: 40px;
    border: 2px solid #AB752F;
    margin-top: 15px;
    margin-right: 5px;
    margin-left: unset !important;
  }
  .card{
    height: 100% !important;
  }
  .card-subtitle{
    
  }
  .sectonRight{
    float: left;
    width: 200px;
  }
  .col{
    padding-right: unset !important;
    padding-left: unset !important;
  }
  .row{
    width: 90% !important;
    margin: auto !important;
  }
}
.lekcijaTop{
  margin-top: -18px;
  color: #92623C;
  h2{
    font-size: 27px;
  }
}
h2 strong{
  font-size: 27px;
}
.btnRight{
  width: 30px;
  margin-top: 0px;
  /* left: 0; */
  float: left;
  margin-left: 0;
  /* offset-rotate: reverse; */
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.mobileTop{
  display: none;
}
.mobilefooter{
  display: none;
}
.hide{
  display: none;
}

@media only screen and (min-width: 600px) {
  .mobile-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    direction: rtl;
  }
}
@media only screen and (max-width: 600px) {
  body{
    font-size: 1rem !important;
  }
  span.after{
    font-size: 1.8rem;
  }
  span{
    font-size: 1rem;;
  }
  .zoomIcon{
    display: none;
  }
  h4{
    font-size: 15px !important;
  }
  .height50px{
    display: none;
  }
  .alignMobile{
    width: 74%;
    float: right;
  }
  .mobileTop{
    display: unset;
    margin-top: 15px;
    h2{
      font-size: 15px;
    }
    img{
      margin: auto;
    }
    
  }
  .mainfooter{
    display: none;
  }
  .mobilefooter{
    display: unset;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #8A552B;
    .mobileNavButtons{
      position: relative;
    /* bottom: 10px; */
    margin-top: 20px !important;
    justify-content: center;
    }
  }
  .mobNavSearch{
    float: right;
    margin-top: 28px;
    margin-right: 10%;
  }
  .arapski {
    font-size: 1.8rem !important;
  }

  .arapski-lekcija {
    font-size: 1.8rem !important;
  }
  .mobile-row {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    direction: rtl;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .arapski {
    font-size: 1.6rem !important;
  }


  .arapski-lekcija {	  .arapski-lekcija {
    font-size: 19px !important;	    font-size: 2rem !important;
  }}
}

/* MENI */
/* nav.mainmenu {
  position: relative;
  margin-left: -1em;
  margin-right: -1.03em;
  margin-top: -.5em;
  margin-bottom: 1rem;
  li.bottommenuitem {
      background: #f2f2f2 !important;
      color: #28a745 !important;
      &:hover {
        color: green !important;
        cursor: pointer;
      }
  }
  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #f2f2f2;
    li {
      background: green;
      color: white;
      text-align: center;
      padding: 0.3em 0;
      font-size: 1.25rem;
      border-right: 1px solid white;
      &:nth-child(5) {
        border-right: 0;
      }
      &:hover {
        background: #28a745;
      }
    }
  }
} */