/* Kenan Babačić - SmartLab.ba */

/*FRONT PAGE*/
html {
	scroll-behavior: smooth;
	scroll-snap-align: center;
}

body {
	font-family: 'Roboto', sans-serif !important;
	background-image: url('/assets/svg/bgpattern.png');
}

#root {
	display: unset !important;
}

.wrapper {
	width: 100%;
	overflow-x: hidden;
}

/*TOP NAV*/

.topNav {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 0px 4px 7px 0px rgba(214, 214, 214, 1);
	background: rgb(244, 239, 239);
	background: transparent linear-gradient(180deg, #ffffff 0%, #ffffffcf 100%) 0%
		0% no-repeat padding-box;

	.logoNavBox {
		width: 25%;
		height: 100%;
		background-color: #92623c;
		float: left;
	}

	.nav {
		margin-right: 5%;
		a:nth-last-child(n + 3) {
			border-right: 1px solid #e6e6e6;
		}
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		display: flex;
	}

	li {
		padding: 7px 25px 7px;
		font-size: 14px;
	}

	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 16px;
		text-decoration: none;
	}

	.selectedBtn {
		background-color: #ab772e;
		border-radius: 15px;
		width: 111px;
		text-align: center;
		color: white;
		font-weight: bold;
		margin-left: 0.85rem;
	}

	a {
		color: inherit;
	}

	a:hover {
		color: #ab772e;
		text-decoration: none;
		cursor: pointer;
	}
}

.sideHr {
	border-right: 1px solid #e6e6e6;
}

.innerWrapper {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	position: relative;

	.sectionOne {
		margin-top: 150px;
		height: 540px;

		// width: 50%;
		// float: left;
		.left {
			width: 40%;
			float: left;
		}

		.right {
			width: 60%;
			float: right;
		}

		h2 {
			width: 100%;
			float: right;
			font-size: 64px;
			color: #92623c;
		}

		p {
			width: 100%;
			float: right;
			font-size: 16px;
			letter-spacing: 1.12px;
			margin-top: -0.5rem;
		}
		.ios {
			margin-left: 1rem;
		}
	}

	.quran {
		position: relative;
		// top: -60px;
		z-index: 100;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.quranbg {
		position: absolute;
		margin-left: -100%;
		z-index: -100;
		// height: 100%;
		margin-top: 20%;
		mix-blend-mode: multiply;
	}

	.description {
		// position: relative;
		// top: -50px;

		h2 {
			font-size: 32px;
			color: white;
		}

		p {
			color: white;
		}
	}
}

.sectionTwo {
	margin-top: 350px;
	position: absolute;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	.book {
		width: 40%;
		float: left;

		.bookImg {
			width: 100%;
		}
	}

	.bookInfo {
		float: right;
		width: 50%;
		line-height: 10px;
	}

	h2 {
		color: #92623c;
	}
}

.iconbg {
	width: 50pt;
	height: 50pt;
	background-color: #92623c;
	border-radius: 50%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

.iconInfo {
	width: auto;
	display: inline-block;
	margin-right: 20px;

	svg {
		display: flex;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	p {
		line-height: normal;
	}
}

.spacer {
	margin-right: 13px;
}

.sectionThree {
	margin-top: 950px; // Podesiti kasnije
	// position: absolute;

	input {
		width: 100%;
		height: 50px;
		margin-bottom: 15px;
		border: 2px solid #c8c8c8;
		box-shadow: 0px 3px 6px 0px rgba(214, 214, 214, 1);
		padding: 20px;
	}

	textarea {
		width: 100%;
		height: 150px;
		margin-bottom: 15px;
		border: 2px solid #c8c8c8;
		box-shadow: 0px 3px 6px 0px rgba(214, 214, 214, 1);
		padding: 20px;
	}

	h2 {
		color: #92623c;
	}

	.form {
		margin-top: 80px;

		.textInput {
			height: 105px;
		}

		:focus {
			outline: none;
			border: 2px solid #92623c;
		}
	}
}

.contactBTN {
	background-color: #92623c;
	border-radius: 20pt;
	width: 135pt;
	height: 40pt;
	color: white;
	border-style: none;
	margin-top: 45px;
}

.logoUrl {
	width: 110px;
	margin-left: 45%;
	margin-top: 22px;
}

.footerLanding {
	margin-top: 100px;
	background-color: #92623c;
	width: 100%;
}

/*Mobile Nav*/

.topMobileNav {
	width: 100%;
	height: 70px;
	background-color: #92623c;
}

/*Mobile optimization*/

.fullMenu {
	width: 100%;
	height: 100vh;
	z-index: 1000;
	background-color: #92623c;
	position: fixed;

	ul {
		position: absolute;
		width: 100%;
		text-align: center;
		list-style: none;
		top: 91px;
		color: wheat;
		padding: 0;
	}

	li {
		padding: 20px;
		border-bottom: 1px solid #8f735ae6;
	}

	.closeBTN {
		color: wheat;
		margin-top: 30px;
		margin-left: 30px;
		cursor: pointer;
	}

	a {
		color: inherit;
	}

	a:hover {
		color: #ab772e;
		text-decoration: none;
		cursor: pointer;
	}
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
	.mobNavArrow {
		float: right;
		margin-top: 20px;
		margin-right: 5%;
		color: rgb(252, 227, 170);
	}

	.topNav {
		display: none;
	}

	.hamburger {
		width: 20px;
		position: absolute;
		top: 30px;
		left: 10%;
		cursor: pointer;
	}

	.mobileLogo {
		position: absolute;
		width: 147px;
		left: 31%;
		top: 21px;
	}

	.innerWrapper {
		width: 90%;
	}

	.sectionTwo {
		margin-top: 330px !important;
		position: absolute;
	}

	.innerWrapper .quranbg {
		margin-top: 32%;
	}

	.sectionTwo .book .bookImg {
		width: 80%;
		display: flex;
		margin-left: auto;
		margin-right: auto;
	}

	.innerWrapper .sectionOne {
		top: 73px;
		position: relative;
		margin-bottom: 59px;
		float: unset;
		text-align: center;
		width: 300px;
		height: 268px;
		margin: auto;
	}

	.innerWrapper .sectionOne h2 {
		font-size: 42px;
	}

	.contactBTN {
		margin-top: 20px;
	}

	footer {
		margin-top: 990px;
	}

	footer .contentLeft {
		position: relative;
		top: 40px !important;
		margin-left: 10%;
		margin-right: 10%;
		width: unset !important;
		color: white;
	}

	.innerWrapper .sectionOne .left {
		width: unset;
		float: unset;
	}

	.innerWrapper .sectionOne .right {
		width: 105%;
		float: right;
		margin-bottom: 74px;
	}

	.sectionTwo {
		justify-content: unset;
		align-items: unset;
	}

	.sectionTwo .book {
		width: unset;
		float: unset;
	}

	.sectionTwo .bookInfo {
		float: unset;
		width: unset;
		line-height: unset;
	}

	.innerWrapper .quran {
		margin-top: unset;
	}

	.sectionThree {
		margin-top: 870px;
	}
}

.btn-lekcije {
	margin-bottom: 40px;
	margin-top: unset;
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
	.topMobileNav {
		display: none;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) and (min-width: 600px) {
	.sectionTwo {
		margin-top: 280px;
		position: absolute;
	}

	.logoUrl {
		width: 110px;
		margin-left: 25%;
		margin-top: 22px;
	}

	.innerWrapper .quran {
		margin-top: 125px;
	}

	.sectionThree {
		margin-top: 860px;
	}
}

.success_message {
	padding: 15px;
	background-color: darkgreen;
	color: white;
}

.error_message {
	padding: 15px;
	background-color: darkred;
	color: white;
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}
